CREATE TABLE IF NOT EXISTS public.user_key_backups (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE UNIQUE,
    encrypted_private_key TEXT NOT NULL,
    salt_b64 TEXT NOT NULL,
    iv_b64 TEXT NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

ALTER TABLE public.user_key_backups ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view own key backup"
    ON public.user_key_backups FOR SELECT
    USING (auth.uid() = user_id);

CREATE POLICY "Users can insert own key backup"
    ON public.user_key_backups FOR INSERT
    WITH CHECK (auth.uid() = user_id);

CREATE POLICY "Users can update own key backup"
    ON public.user_key_backups FOR UPDATE
    USING (auth.uid() = user_id)
    WITH CHECK (auth.uid() = user_id);


